body{
    word-break: normal;
    word-wrap: break-word;
}
h1{
    font-family: RaghuMalayalam;
}
.add-input{
    border-bottom: 1px solid #9e9e9e;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

#add-button:active{
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#csv-link{
    text-decoration:none;
    color:#000;
    background-color:#ddd;
    border:1px solid #ccc;
    padding:8px;
}
#csv-link:active{
    background-color: #BDBDBD;
}
@media (max-width: 767px) {
    table{
        font-size: 80%;
    }
}